/* Body Section */
body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  text-align: center;
}
/* Body Section ends here */

/* Navbar Section */
.nvbarimg, .navbar-brand {
  padding-left: 0.7%;
}

.nvbarimg {
  width: 4%;
  height: 4%;
}

.navbar-brand {
  font-style: bold;
}
/* Navbar Section ends here */

.row {
  background-color: transparent;
  margin: 5%;
}
.planet-name {
  font-size: xx-large;
}
.planetinfo {
  text-align: center;
  background-color: #000000;
  opacity: 0.8;
  border-radius: 1%;
  padding: 1%;
  color: antiquewhite;
  font-size: large;
}
.planetpic {
  text-align: center;
  max-height: 70%;
}
.pic {
  max-width: 60%;
}
.slidesh {
  width: 30%;
  height: 30%;
  align-items: center;
}

/* Data Cards Section */
.card {
  background-color: #050505;
  opacity: 0.6;
  text-align: center;
  border-radius: 5%;
}
.card:hover {
  background-color: #050505;
  opacity: 0.9;
}
.card-body {
  color: white;
}
.card-header, .card-footer {
  color: rgb(255, 255, 255);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: auto 0;s
}
/*  Data Cards Section ends here */

/* Footer */
.footer-container, .footer-row {
  background-color: #000000;
  opacity: 0.9;
  margin: 0;
  padding: 0;
}
.footer-sec, .footer-copyright {
  background-color: #050505;
}
.footer-email-signup {
  margin: 0 auto;
}
/* Footer Section ends here */