body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}
.nvbarimg {
  padding-left: 0.7%;
  width: 4%;
  height: 4%;
}
.navbar-brand {
  padding: 0.7%;
  font-style: bold;
}

.row {
  background-color: transparent;
  margin: 5%;
}
.planet-name {
  font-size: xx-large;
}
.planetinfo {
  color: antiquewhite;
  font-size: large;
}
.planetpic {
  text-align: center;
  max-height: 70%;
}
.pic {
  max-width: 60%;
}

/* Data Section */
.data-row {
  text-align: center;
  margin: 0%;
}
.card {
  background-color: #050505;
  opacity: 0.6;
  text-align: center;
  border-radius: 5%;
}
.card:hover {
  background-color: #050505;
  opacity: 0.9;
}

.card-header,
.card-footer {
  color: rgb(255, 255, 255);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: auto 0;s
}

.card-body {
  color: white;
}

/* Footer */
.footer-container, .footer-row {
  background-color: #000000;
  opacity: 0.9;
  margin: 0;
  padding: 0;
}
.footer-sec {
  background-color: #050505;
}
.footer-copyright {
  background-color: #050505;
}
.footer-email-signup {
  margin: 0 auto;
}