body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}
.nvbarimg {
  padding-left: 0.8%;
}
.navbar-brand {
  padding: 0.8%;
  font-style: bold;
}

.row {
  background-color: transparent;
  margin: 5%;
}
.planet-name {
  font-size: xx-large;
}
.planetinfo {
  color: antiquewhite;
  font-size: large;
}
.planetpic {
  text-align: center;
  max-height: 70%;
}
.pic {
  max-width: 60%;
}
.row-fact {
  text-align: center;
}
.facts {
  width: 23%;
  color: antiquewhite;
  background-color: transparent;
  border: 0.05px solid rgb(204, 202, 202);
  margin: 1%;
  box-shadow: inset;
}
.planet-facts {
  font-size: large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.fact-numerical {
  font-size: xx-large;
}
